<h1>LogIn Page</h1>
<%- include("partials/header") %>
<h1>Welcome to the register form and Please Sign up</h1>

<form action="/login" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="text" name="password" placeholder="password">
    <button>LogIn</button>
</form>
<%- include("partials/footer") %>